#controlPanel {
  padding: 1rem;
}

#statusPanel {
  padding: 1rem;
}

#mapDiv {
  width: 100%;
  height: 80vh;
  border-radius: 6px;
}
#panel {
  padding: 1rem;
  color: blueviolet;
  background-color: bisque;
  border-radius: 6px;
}

#hand {
  color: blueviolet;
}

.gemText {
  font-size: 24px;
}
