#inventoryPanel {
  padding: 0.08rem;
  color: rgb(0, 0, 0);
  background-color: rgb(80, 66, 66);
  border-radius: 6px;
  max-width: 800px;
}

#navigationPanel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5rem;
  padding: 1rem;
  width: fit-content;
}

#statusPanel {
  padding: 1rem;
}

#winPanel {
  padding: 1rem;
  border-radius: 1.5em;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: rgba(217, 252, 213, 0.8);
  max-width: 800px;
}

#mapDiv {
  width: 100%;
  height: 80vh;
  border-radius: 6px;
  cursor: default;
}

#panel {
  padding: 0.05rem;
  color: rgb(0, 37, 3);
  background-color: rgb(189, 216, 171);
  border-radius: 6px;
  max-width: 800px;
}

#hand {
  color: rgb(204, 0, 255);
}

.point-button {
  padding: 8px;
  background-color: rgb(194, 194, 194);
  border-radius: 6px;
  cursor: pointer;
}
.point-button:hover {
  padding: 8px;
  background-color: rgb(88, 117, 141);
  border-radius: 6px;
}

#north-point {
  grid-column: 2;
  grid-row: 1;
}

#east-point {
  grid-column: 3;
  grid-row: 2;
}

#south-point {
  grid-column: 2;
  grid-row: 3;
}

#west-point {
  grid-column: 1;
  grid-row: 2;
}

.gemText {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
